.create-form-container{
    display: flex;
    padding: 20px;
    min-height: 80vh;
}
.column-form {
    border-radius: 5px;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.column-left{
    width: 25%;
}
.column-middle{
    width: 50%;
}
.column-right{
    width: 25%;
}